<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a4ic1.projektkoncowyskrzypczak">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.PhotoActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Activities.AlbumActivity" />
        <activity android:name=".Activities.AlbumFolderActivity" />
        <activity android:name=".Activities.AlbumFolderPhotoActivity" />
        <activity android:name=".Activities.NoteActivity" />
        <activity android:name=".Activities.NoteEditActivity" />
        <activity android:name=".Activities.CollageChooseActivity" />
        <activity android:name=".Activities.CollageActivity" />
        <activity android:name=".Activities.LettersActivity" />
        <activity android:name=".Activities.NetworkActivity" />
        <activity android:name=".Activities.UploadActivity"></activity>
    </application>

</manifest>